.section {
  height: 100vh;
  padding: 6rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section--gray {
  background-color: #fafafa;
}

.section--100{
  @media (max-width: 800px) {
    height: 100%;
  }
  @media only screen and (orientation: landscape) {
    height: 100%;
  }
}
